<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BAL.Properties.Settings.QL_CHTLConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=QL_CHTL;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_CHTLConnectionString" connectionString="XpoProvider=MSSqlServer;data source=MSI;user id=;password=;initial catalog=QL_CHTL;Persist Security Info=true" />
    </connectionStrings>
</configuration>